*,
*::before *::after {
    box-sizing: border-box;
}

.body {
 font-family: "Roboto", sans-serif;
 background-color: #FFFFFF;
 color: #434455;
}
:root {
  --general-text-color: #434455;
  --subheader-color: #2e2f42;
  --logo-font: "Raleway", sans-serif;
  --footer-background: #2e2f42;
  --footer-text-color: #f4f4fd;
  --main-page-background: #2e2f42;
}

a {
 text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
 }
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
svg {
  fill: currentColor;
}
.container {
 width: 320px;
 padding: 0 16px;
 margin: 0 auto;
}
@media screen and (min-width: 768px){
    .container {
        max-width: 768px;
      }
}
@media screen and (min-width: 1158px){
    .container {
        max-width: 1158px;
      }
}

section {
    padding: 96px 0;
  }

  @media screen and (min-width: 1158px) {
    section {
      padding: 120px 0;
    }
  }

  footer {
    padding: 96px 0;
  }

.nav-link.active {
  display: none;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
}
h1,h2,h3,h4,h5,h6,p {
 margin: 0;
}
ul {
 margin: 0;
 padding: 0;
 list-style-type: none;   
}
.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
  }
.header {
 border-bottom: 1px solid #e7e9fc;
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-conteiner {
 display: flex;
 align-items: center;
 justify-content: space-between;

}
.navigation {
 display: flex;
 align-items: center;
 gap: 40px;
}
@media screen and (min-width: 768px) {
    .navigation {
      display: none;
    }
  }

.logo {
 font-family: "Raleway", sans-serif;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 font-size: 18px;
 font-weight: 700;
 color: #4d5ae5;
 text-decoration: none;
 margin-right: 76px;
}
.logo-top{
 font-family: "Raleway", sans-serif;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 18px;
 color: #2e2f42;
 gap: 76px;
}

.nav-link-header {
 display: none;
}
@media screen and (min-width: 768px) {
    .nav-link-header{
        display: flex;
        gap: 40px;
      }
      .nav-item {
        font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
      }
      .nav-link {
     font-family: "Roboto", sans-serif;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 24px;
     letter-spacing: 0.32px;
      }

      .nav-link:active {
        color: #404bbf;
      }
      .nav-link.active {
        position: relative;
        color: #404bbf;
      }
      .nav-link.active::after {
        position: absolute;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
        content: "";
        width: 100%;
        left: 0;
        bottom: -1px;
      }
      .navigation {
        display: flex;
    align-items: center;
    margin-right: auto;
    gap: 120px;
      }
      .header .container {
        display: flex;
        align-items: center;
      }
}
@media screen and (min-width: 1158px) {
    .nav-link:hover .nav-link:focus {
      color: #404bbf;
    }
  }
.add-title {
    display: none;
}

@media screen and (min-width: 768px) {
    .add-title {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      .contact-item {
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.48px;
      }
      .title-address {
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .title-address:active {
        color: #404bbf;
      }
}
@media screen and (min-width: 1158px) {
    .add-title {
    flex-direction: row;
    gap: 40px;
    }
    .contact-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }
    .title-address:hover,
    .title-address:focus {
        color: #404bbf;
    }
}


     .nav-link {
     font-weight: 500;
     letter-spacing: 0.02em;
     font-size: 16px;
     line-height: 1.5;
     color: #2e2f42;
     background-color: #fff;
     text-decoration: none;
     padding: 24px 0;
     display: block;
     gap: 40px;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus{
 color: #404bbf;
}
.address {
 font-style: normal;
}
.address-title {
 display: flex;
 gap: 40px;
}
.add-title {
 display: flex;
 align-items: center;
 gap: 40px;
}
.title-address {
 font-style: normal;
 text-wrap: nowrap;
 letter-spacing: 0.02em;
 line-height: 1.5;
 gap: 40px;
 font-size: 16px;
 font-weight: 400;
 color: #434455;
 background-color: #fff;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-address:hover,
.title-address:focus {
 color: #404bbf;
}


.section {
 padding: 120px 0;
 background-size: cover;
}



.container-name {
 display: flex;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 justify-content: center;
 align-items: center;
}

.button {
 text-align: center;
}
button {
  cursor: pointer;
}



/* Бізнес*/

.business-section {
 background-color: #2e2f42;
 background-size: cover;
 padding: 188px 0;
 background-repeat: no-repeat;
 background-position: center;
 margin: 0 auto;
 max-width: 1440px;
 width: 100%;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
}

@media screen and (min-resolution: 192dpi) {
  .business-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/order-section/order-mob-bg@2x-min.jpg);
  }
}

@media screen and (min-width: 768px) {
  .business-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/order-section/order-tab-bg@1x-min.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .business-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/order-section/order-tab-bg@2x-min.jpg);
  }
}
@media screen and (min-width: 1158px) {
  .business-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/order-section/order-desk-bg@1x-min.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .business-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/order-section/order-desk-bg@2x-min.jpg);
  }
}

.business-section .container {
  padding: 72px 52px;
}

@media screen and (min-width: 768px) {
  .business-section .container {
    padding: 112px 136px;
  }
}

@media screen and (min-width: 1158px) {
  .business-section .container {
    padding: 188px 331px;
  }
}

.main-title-content {
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
 }

 @media screen and (min-width: 768px) {
  .main-title-content {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .main-title-content {
    margin-bottom: 48px;
    line-height: 1.07;
  }
}

.button-order-service {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); font-size: 16px;
  margin: 0 auto;
  display: block;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
  background-color:250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .button-order-service:hover,
 .button-order-service:focus {
  background-color: #404bbf;
 }

 @media screen and (min-width: 1158px) {
  .button-order-service {
    min-width: 169px;
    min-height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button-order-service:hover,
  .button-order-service:focus {
    background-color: #404bbf;
  }
}

.description-profession {
  background-color: #ffffff;
  padding: 120px 0;
 } 

.main-page-description {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .main-page-description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}
@media screen and (min-width: 1158px) {
  .main-page-description {
    gap: 24px;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 768px) {
  .main-page {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .main-page {
    width: calc((100% - 72px) / 4);
  }
}
.main-page {
 width: calc((100% - 72px) / 4);
}
.value-icon{
    display: none;
  }
  @media screen and (min-width: 1158px) {
    .value-icon {
      display: block;
    }
    .main-page-box{
    }
    .main-page-box{
      display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    margin-bottom: 8px;
    }
  }
.main-page-descr{
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .main-page-descr {
    text-align: start;
  }
}
@media screen and (min-width: 1158px) {
  .main-page-descr {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}
.text-description {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
@media screen and (min-width: 1158px) {
  .text-description {
    font-weight: 400;
  }
}
/* .title{
 letter-spacing: 0.02em;
} */

/* Секція старт */

.team{
 background-color: #F4F4FD;
}
.title-our-team{
  margin-bottom: 72px;
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.team-list {
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    gap: 24px;
  }
}

.team-item {
  width: 264px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-item:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .team-item {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1158px) {
  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.team-div {
  padding: 32px 0;
}
.team-sub-title {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
 }
 .team-text {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
 }
.team-social-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}
.team-social-item {
width: 40px;
height: 40px;
}
.team-social-link {
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-color: #4d5ae5;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
}
.team-social-link:active {
background-color: #404bbf;
}

.team-svg {
fill: #f4f4fd
}
@media screen and (min-width: 1158px) {
  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }
}

/* END секції TIM */

/* #region Portfolio */
.portfolio {
 background-color: #ffffff;
}
.title-portfolio {
  color: var(--subheader-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
  
 }
.title-port {
 width: 218px;
 align-items: center;
}
.portfolio-element {
  width: 100%;
  background: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 48px;
}
.portfolio-element:active {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-element:last-child {
  margin-bottom: 0px;
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  color: #f4f4fd;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
  height: 100%;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-element:active .overlay1 {
  transform: translatey(0);
}
.portfolio-descr {
  padding: 32px 16px;
  border-top: none;
  align-self: stretch;
  border: #f4f4fd;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }
 .title-sub-portfolio {
  color: var(--subheader-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
 }
 .portfolio-text {
  color: var(--general-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
 }

 @media screen and (min-width: 768px) {
  .portfolio-img {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .portfolio-element {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }
 }

 @media screen and (min-width: 1158px){
  .portfolio-img {
    row-gap: 48px;
  }
  .portfolio-element {
    flex-basis: calc((100% - 48px) / 3);
  }
  .portfolio-element:hover,
  .portfolio-element:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .portfolio-element:focus .overlay,
  .portfolio-item:hover .overlay {
    transform: translatey(0);
  }
 }

/*Footer */

.page-footer .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.footer-con-logo{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.logo-web {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-align: center;
 }
 .logo-studio {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
 }
 .text-p-footer {
  min-width: 264px;
  font-family: var(--main-text-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #f4f4fd;
 }
 .fotter-social {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  }
  .footer-social-title {
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   }
   .footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
   }
   .footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #f4f4fd;
    background-color:#4d5ae5;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .footer-social-link:active {
    background-color: #31d0aa;
  }
.footer-subscribe{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px; ;
}
.footer-subscribe-title{
  color: #fff;
  font-weight: 500;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-subscribe-input{
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color:  transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  font-size: 12px;
  color: #ffffff;
  } 
.footer-subscribe-input::placeholder{
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.footer-subscribe-button {
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  border: none; 
  background-color: #4D5AE5;
  margin: 0 auto;
}
.footer-subscribe-button:active {
  background-color: #404bbf;
}
.svg-footer {
  margin-left: 16px;
  fill: #fff;
  }
  @media screen and (min-width: 768px) {
    .footer-social-link {
      text-align: left;
    }
    .text-p-footer {
      max-width: 264px;
    }
    .fotter-social {
      align-items: flex-start;
      margin-top: 0;
    }
    .footer-subscribe {
      align-items: flex-start;
    }
    .footer-subscribe-box {
      display: flex;
      gap: 24px;
    }
    .footer-con-logo {
      display: flex;
      gap: 24px;
      align-items: baseline;
    }
    .page-footer .container {
      align-items: flex-start;
      padding: 0 92px;
    }
  }
  @media screen and (min-width: 1158px) {
    .page-footer .container {
    flex-direction: row;
    padding: 0;
    gap: 80px;
    }
    .footer-con-logo {
      gap: 120px;
    }
    .footer-subscribe:hover,
    .footer-subscribe:focus {
      background-color: #404bbf;
    }
  .footer-social-link:hover,
   .footer-social-link:focus {
    background-color: #31d0aa;
  }
  .footer-subscribe-input {
    opacity: 1;
  }
  }

/* 


.footer-a {
 display: inline-block;
}
.footer-p {
 display: flex;
 margin-bottom: 16px;
}
.footer-social-item {
width: 40px;
height: 40px;
}

.footer-social-link:focus,
.footer-social-link:hover {
background-color:#31d0aa;
}




.footer-subscribe-box{
    display: flex;
    gap: 24px;
}

.footer-subscribe-button span{
    font-family: "Roboto", sans-serif;
font-size: 16px;
letter-spacing: 0.04em;
color: #fff;
} */


/* #region MOBILE MENU */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 10000;
  padding: 72px 16px 40px 16px;

  display: flex;
  flex-direction: column;

  transform: translateX(767px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-btn:active {
  background-color: #404bbf;
  border: none;
}
.mobile-menu-btn:active .close-btn-icon {
  fill: #ffffff;
}

.mobile-menu-list {
  margin-bottom: auto;
}

.mobile-list-item:not(:last-child) {
  margin-bottom: 40px;
}
.active {
  color: #404bbf;
}
.mobile-menu-link {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-menu-link.active {
  color: #404bbf;
}

.mobile-menu-contacts {
  margin-bottom: 48px;
}

.mobile-menu-contact:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-contact-link {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.mobile-menu-contact-link.accent {
  color: #4d5ae5;
}

.mobile-socials {
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* #endregion */


/* region Backdrop */

.backdrop {
position: fixed;
opacity: 0;
visibility: hidden;
pointer-events: none;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
width: 408px;
min-height: 584px;
background-color: #fcfcfc;
box-shadow: 0px 1px 3px rgba(0, 0, 0, .12), 0px 1px 1px rgba(0, 0, 0, .14), 0px 2px 1px rgba(0, 0, 0, .2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
border-radius: 4px;
padding: 72px 24px 24px;
}

.box-close-svg {
position: absolute;
display: flex;
align-items: center;
justify-content: center;
top: 24px;
right: 24px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
width: 24px;
height: 24px;
background-color: #e7e9fc;
cursor: pointer;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: #2e2f42;
padding: 0;
}

.modal-close-svg {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-close-svg:hover,
.box-close-svg:focus {
border: none;
background-color: #404bbf;
/* fill: #ffffff; */
}

.box-close-svg:hover .modal-close-svg {
    fill: #fff;
}

.box-close-svg:focus .modal-close-svg {
    fill: #fff;
}

.modal-content-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 16px;
}

.modal-form {

}

.modal-form-box {
margin-bottom: 8px;
}

.modal-label {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;;
display: block;
margin-bottom: 4px;
}

.modal-input {
padding-left: 38px;
padding-top: 8px;
padding-bottom: 8px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
max-height: 40px;
width: 100%;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
outline: transparent;
background-color: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-svg-box input:focus,
.textarea-form:focus {

border-color: #4D5AE5;
}

.modal-textarea-box {
margin-bottom: 16px;
}

.textarea-form {
outline: none;
border-color: #4D5AE5;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
resize: none;
background-color: transparent;
padding: 8px 16px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form::placeholder {
font-family: "Roboto", sans-serif;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.form-svg-box {
position: relative;
}

.modal-form .svg-modal {
position: absolute;
left: 16px;
top: 50%;
transform: translateY(-50%);
color: #000;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-svg-box input:focus~.svg-modal {
fill: #4D5AE5;
}




.checkbox {
    margin-top: 16px;
    margin-bottom: 24px;
}

.modal-form-agreement {
    /* font-weight: 400; */
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
   
}

.agreement {}

.agreement-checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #F4F4FD;
}

input[type='checkbox']:checked + .agreement .agreement-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
    
}


.agreement-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-checkbox-icon {
    opacity: 0;
    fill: #F4F4FD;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked+.modal-form-agreement .agreement-checkbox .agreement-checkbox-icon {
    fill: #F4F4FD;
    opacity: 1;
}


.agreement-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.form-btn-send {
border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
border-color: transparent;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
display: block;
margin: 0 auto;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
cursor: pointer;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn-send:hover,
.form-btn-send:focus {
background-color: #404bbf ;
}

/* .backdrop.is-open{
visibility: visible;
opacity: 1;
pointer-events: auto;
} */